#logo {
  width: 300px;
}

#topbar {
  display: flex;
  justify-content: space-between;
}

table,
th,
td {
  font-family: arial, sans-serif;
  border: solid;
  width: 50%;
}

body {
  background: rgb(75, 204, 204);
}
